<div id="print_table" class="table-responsive">
  <table>
    <thead>
      <tr><td colspan=999 class="border text-center" style="padding: 5px 10px;">PAYROLL</td></tr>
      <tr><td colspan=999 class="border" style="padding: 5px 10px;"></td></tr>
      <tr>
        <td colspan=6 class="border" style="padding: 5px 10px;">Entity Name: <span class="text-decoration-underline">EASTERN VISAYAS STATE UNIVERSITY-ORMOC CITY CAMPUS</span></td>
        <td colspan=999 class="border" style="padding: 5px 10px;">For the period: <%= payroll.month %> 1-15, (<%= payroll.created_at.year %>)</td>
      </tr>
      <tr>
        <td colspan=6 class="border" style="padding: 5px 10px;">Fund Cluster: <span class="text-decoration-underline">STF-INTERNALLY GENERATED FUND</span></td>
        <td colspan=999 class="border" style="padding: 5px 10px;"></td>
      </tr>
      <tr><td colspan=999 class="border" style="padding: 5px 10px;"><i style="font-size: 12px;">We acknowledge receipt of cash shown opposite our name as full comensation of r services rendered for the period covered</i></td></tr>

      <tr>
        <td class="border-start" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td colspan=9 class="border text-center fw-bold" style="padding: 5px 10px;">COMPENSATIONS</td>
        <td colspan=4 class="border text-center fw-bold" style="padding: 5px 10px;">DEDUCTIONS</td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <% if payroll.completed? %><td class="border-start border-end" style="padding: 5px 10px;"></td><% end %>
      </tr>

      <tr>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td colspan=4 class="border text-center fw-bold" style="padding: 5px 10px;"></td>
        <td colspan=5 class="border text-center fw-bold" style="padding: 5px 10px;">Adjustments</td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <% if payroll.completed? %><td class="border-start border-end" style="padding: 5px 10px;"></td><% end %>
      </tr>

      <tr>
        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">NAME</th>
        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">POSITION</th>
        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">DEPARTMENT</th>
        <th class="border" style="padding: 5px 10px;">RATE/DAY</th>
        <th class="border" style="padding: 5px 10px;"><%= payroll.prev_month.strftime("%B") %> 16 - <%= payroll.prev_month.end_of_month.day %></th>
        <th class="border" style="padding: 5px 10px;"><%= payroll.month.capitalize %> 1 - 15</th>
        <th class="border" style="padding: 5px 10px;">Total # of Days</th>
        <th class="border" style="padding: 5px 10px;">No of min.</th>
        <th class="border" style="padding: 5px 10px;">LATE/Undertime</th>
        <th class="border" style="padding: 5px 10px;">No. of hours</th>
        <th class="border" style="padding: 5px 10px;">OVERTIME/RATE ADJ.</th>
        <th class="border" style="padding: 5px 10px;">GROSS AMOUNT</th>
        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">SSS</th>
        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">Pag-ibig Contribution</th>
        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">Pag-ibig Calamity</th>
        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">Total Deduction</th>
        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">Net Amount Due</th>
        <% if payroll.completed? %><th class="border-bottom border-start border-end" style="padding: 5px 10px;">SIGNATURE</th><% end %>
      </tr>
    </thead>
    <tbody>
      <% payroll.cos_entries.send(entries_to_view_for(current_user, payroll)).each do |entry| %>
        <tr data-controller="cos-entries">
        <td class="border" style="padding: 5px 10px;">
        <div class="d-flex align-items-center">
          <%= render_checkbox_if_needed(entry, current_user) %>
          <span><%=entry.user.full_name%></span>
        </div>
        </td>
        <td class="border" style="padding: 5px 10px;"><%=entry.user.position%></td>
        <td class="border" style="padding: 5px 10px;"><%=entry.user.department.humanize.upcase%></td>
        <td class="border" style="padding: 5px 10px;"><%=entry.rate.format%></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :prev_rendered_hours, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :total_no_of_worked_days, current_user) %></td>
        <td class="border" style="padding: 5px 10px;" data-cos-entries-target="summed_up_no_of_worked_days"><%=entry.summed_up_no_of_worked_days%></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :total_late_or_undertime, current_user) %></td>
        <td class="border" style="padding: 5px 10px;" data-cos-entries-target="late_or_undertime_deduction"><%=entry.late_or_undertime_deduction.format%></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :total_overtime_hours, current_user) %></td>
        <td class="border" style="padding: 5px 10px;" data-cos-entries-target="overtime_comp"><%=entry.overtime_comp.format%></td>
        <td class="border" style="padding: 5px 10px;" data-cos-entries-target="gross"><%=entry.gross.format%></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :sss, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :pagibig_calamity, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :pagibig_contribution, current_user) %></td>

        <td class="border" style="padding: 5px 10px;" data-cos-entries-target="total_deductions"><%=entry.total_deductions.format%></td>
        <td class="border" style="padding: 5px 10px;" data-cos-entries-target="net"><%=entry.net.format%></td>
        <% if payroll.completed? %><td class="border" style="padding: 5px 10px;" data-cos-entries-target="net"></td><% end %>
        </tr>
      <% end %>
      <%= render partial: "payrolls/designates_template", locals: { payroll: payroll } if payroll.completed? %>
    </tbody>
  </table>
</div>
