<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Rate</th>
        <th>Total # days</th>
        <th>late/Undertime min</th>
        <th>Late/Undertime</th>
        <th>Total overtime hrs.</th>
        <th>Overtime</th>
        <th>Gross</th>
        <th>Deductions</th>
        <th>Total Deductions</th>
        <th>Net</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% payroll.cos_entries.each do |entry| %>
        <tr>
        <td><%=entry.user.full_name%></td>
        <td><%=entry.rate.format%></td>
        <td><%=entry.total_no_of_worked_days%></td>
        <td><%=entry.total_late_or_undertime%></td>
        <td><%=entry.late_or_undertime_deduction.format%></td>
        <td><%=entry.total_overtime_hours%></td>
        <td><%=entry.overtime_comp.format%></td>
        <td><%=entry.gross.format%></td>
        <td>
          <ul class="p-0">
            <% entry.deductions.each do |deduction| %>
              <li><%= deduction.name %> - <%= deduction.amount.format %></li>
            <% end %>
          </ul>
        </td>
        <td><%=entry.total_deductions.format%></td>
        <td><%=entry.net.format%></td>
        <td>
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-coreui-toggle="dropdown" aria-expanded="false" <%= "disabled" unless payroll.pending? %>>
            Action
          </button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Edit", edit_cos_entry_path(entry), class: "dropdown-item" if payroll.pending? %>
            </li>
            <li>
              <%= button_to "Delete", cos_entry_path(entry), method: :delete, class: "dropdown-item", data: { turbo_confirm: "Are you sure?" } if payroll.pending? %>
            </li>
          </ul>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div><%= link_to "New entry", new_cos_entry_path(payroll_id: payroll.id), class: "btn btn-primary" if payroll.pending? %></div>
</div>