<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <% if payroll.pending? %>
          <th></th>
        <% end %>
        <th>User</th>
        <th>Rate</th>
        <th>Total # days</th>
        <th>late/Undertime min</th>
        <th>Late/Undertime</th>
        <th>Total overtime hrs.</th>
        <th>Overtime</th>
        <th>Gross</th>
        <th>Deductions</th>
        <th>Total Deductions</th>
        <th>Net</th>
      </tr>
    </thead>
    <tbody>
      <% payroll.cos_entries.each do |entry| %>
        <tr data-controller="cos-entries">
        <% if payroll.pending? %><td>
          <div class="form-check">
            <input class="form-check-input" 
                    type="checkbox" 
                    value="" 
                    id="flexCheckDefault"
                    data-controller="entry-inclusion" 
                    data-entry-type="cos" 
                    data-entry-id="<%= entry.id %>"
                    data-authenticity-token="<%= form_authenticity_token %>"
                    data-action="input->entry-inclusion#updateEntryInclusion"
                    <%= 'checked' if entry.included %>
            >
          </div>
        </td><% end %>
        <td><%=entry.user.full_name%></td>
        <td><%=entry.rate.format%></td>
        <td>
          <% if payroll.pending? %>
            <input class="form-control form-control-sm" 
                    data-action="input->part-time-entries#calculate" type="number" style="width:11ch;" data-id="<%= entry.id %>" data-value="total_no_of_days"
                    data-authenticity-token="<%= form_authenticity_token %>" value="<%=entry.total_no_of_worked_days%>">
          <% else %>
            <%=entry.total_no_of_worked_days%>
          <% end %>
        </td>
        <td>
          <% if payroll.pending? %>
            <input class="form-control form-control-sm" 
                    data-action="input->part-time-entries#calculate" type="number" style="width:11ch;" data-id="<%= entry.id %>" data-value="undertime"
                    data-authenticity-token="<%= form_authenticity_token %>" value="<%=entry.total_late_or_undertime%>">
          <% else %>
            <%=entry.total_late_or_undertime%>
          <% end %>
        </td>
        <td data-cos-entries-target="undertime"><%=entry.late_or_undertime_deduction.format%></td>
        <td>
          <% if payroll.pending? %>
            <input class="form-control form-control-sm" 
                    data-action="input->part-time-entries#calculate" type="number" style="width:11ch;" data-id="<%= entry.id %>" data-value="overtime"
                    data-authenticity-token="<%= form_authenticity_token %>" value="<%=entry.total_overtime_hours%>">
          <% else %>
            <%=entry.total_overtime_hours%>
          <% end %>
        </td>
        <td data-cos-entries-target="overtime"><%=entry.overtime_comp.format%></td>
        <td data-cos-entries-target="gross"><%=entry.gross.format%></td>
        <td>
          <ul class="p-0">
            <% entry.deductions.each do |deduction| %>
              <li><%= deduction.name %> - <%= deduction.amount.format %></li>
            <% end %>
          </ul>
        </td>
        <td><%=entry.total_deductions.format%></td>
        <td data-cos-entries-target="net"><%=entry.net.format%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>