<div class="table-responsive">
  <table>
    <thead>
      <tr><td colspan=999 class="border text-center" style="padding: 5px 10px;">PAYROLL</td></tr>
      <tr><td colspan=999 class="border" style="padding: 5px 10px;"></td></tr>
      <tr>
        <td colspan=6 class="border" style="padding: 5px 10px;">Entity Name: <span class="text-decoration-underline">EASTERN VISAYAS STATE UNIVERSITY-ORMOC CITY CAMPUS</span></td>
        <td colspan=999 class="border" style="padding: 5px 10px;">Payroll No: <%= payroll.created_at.year %> (<%= payroll.batch.ordinalize %> BATCH)</td>
      </tr>
      <tr>
        <td colspan=6 class="border" style="padding: 5px 10px;">Fund Cluster: <span class="text-decoration-underline">STF-INTERNALLY GENERATED FUND</span></td>
        <td colspan=999 class="border" style="padding: 5px 10px;"></td>
      </tr>
      <tr><td colspan=999 class="border" style="padding: 5px 10px;"><i style="font-size: 12px;">We acknowledge receipt of cash shown opposite our name as full comensation of r services rendered for the period covered</i></td></tr>
      
      <tr>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td colspan=4 class="border text-center fw-bold" style="padding: 5px 10px;"></td>
        <td colspan=6 class="border text-center fw-bold" style="padding: 5px 10px;">DEDUCTIONS</td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <% if payroll.completed? %><td class="border-start border-end" style="padding: 5px 10px;"></td><% end %>
      </tr>
  

      <tr>
        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">Name</th>
        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">Rate</th>
        <th class="border" style="padding: 5px 10px;"><%= payroll.prev_month.strftime("%B") %> <%= payroll.created_at.year %></th>
        <th class="border" style="padding: 5px 10px;"><%= payroll.month.capitalize %> <%= payroll.created_at.year %></th>
        <th class="border" style="padding: 5px 10px;">Total # of hours</th>
        <th class="border" style="padding: 5px 10px;">GROSS AMOUNT</th>
        <th class="border" style="padding: 5px 10px;">TAX WI/HELD</th>
        <th class="border" style="padding: 5px 10px;">PAG-IBIG PS/ES</th>
        <th class="border" style="padding: 5px 10px;">PAG-IBIG MPL</th>
        <th class="border" style="padding: 5px 10px;">Advances to Offices & Employees</th>
        <th class="border" style="padding: 5px 10px;">CFI</th>
        <th class="border" style="padding: 5px 10px;">TOTAL DEDUCTIONS</th>
        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">Net Amount Due</th>
        <% if payroll.completed? %><th class="border-bottom border-start border-end" style="padding: 5px 10px;">SIGNATURE</th><% end %>
      </tr>
    </thead>
    <tbody>
      <% payroll.part_time_entries.send(entries_to_view_for(current_user, payroll)).each do |entry| %>
        <tr data-controller="part-time-entries">
        <td class="border" style="padding: 5px 10px;">
          <div class="d-flex align-items-center">
            <%= render_checkbox_if_needed(entry, current_user) %>
            <span><%=entry.user.full_name%></span>
          </div>
        <td class="border" style="padding: 5px 10px;"><%=entry.rate.format%></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :prev_rendered_hours, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :total_rendered_hours, current_user) %></td>
        <td class="border" style="padding: 5px 10px;" data-part-time-entries-target="total_rendered_hours"><%=entry.summed_up_no_of_hours%></td>
        <td class="border" style="padding: 5px 10px;" data-part-time-entries-target="gross"><%=entry.gross.format%></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :witholding_tax, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :pagibig_ps, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :pagibig_mpl, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :advances, current_user) %> </td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :cfi, current_user) %></td>
        <td class="border" style="padding: 5px 10px;" data-part-time-entries-target="total_deductions"><%=entry.total_deductions.format%></td>
        <td class="border" style="padding: 5px 10px;" data-part-time-entries-target="net"><%=entry.net.format%></td>
        <% if payroll.completed? %><td class="border" style="padding: 5px 10px;"></td><% end %>
        </tr>
      <% end %>
      <%= render partial: "payrolls/designates_template", locals: { payroll: payroll } if payroll.completed? %>
    </tbody>
  </table>
</div>
