<div id="print_table" class="table-responsive">
  <table>
    <thead>
      <tr><td colspan=999 class="border" style="padding: 5px 10px;">PAYROLL</td></tr>
      <tr>
        <td colspan="999" class="border" style="padding: 5px 10px;">For the period: &nbsp; <%= Date.parse(payroll.month).strftime("%-d/%-m/%Y") %> - <%= Date.parse(payroll.month).end_of_month.strftime("%-d/%-m/%Y") %></td>
      </tr>
      <tr><td colspan=999 class="border" style="padding: 5px 10px;">ENTITY NAME:  <b>EASTERN VISAYAS STATE UNIVERSITY - ORMOC CITY CAMPUS</b></td></tr>
      <tr><td colspan=999 class="border" style="padding: 5px 10px;"><i style="font-size: 12px;">We acknowledge receipt of cash shown opposite our name as full comensation of r services rendered for the period covered</i></td></tr>
      
      <tr>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td colspan=4 class="border text-center fw-bold" style="padding: 5px 10px;">COMPENSATIONS</td>
        <td colspan=16 class="border text-center fw-bold" style="padding: 5px 10px;">DEDUCTIONS</td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
      </tr>
  
      <tr>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td colspan=2 class="border text-center fw-bold" style="padding: 5px 10px;">MONTHLY SALARY</td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td colspan=5 class="border text-center fw-bold" style="padding: 5px 10px;">STATUTORY DEDUCTIONS</td>
        <td colspan=11 class="border text-center fw-bold" style="padding: 5px 10px;">OTHER DEDUCTIONS</td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
        <td class="border-start border-end" style="padding: 5px 10px;"></td>
      </tr>
      
      <tr>
        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">Name</th>
        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">POSITION</th>
        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">SG</th>
        <th class="border" style="padding: 5px 10px;">Basic Pay</th>
        <th class="border" style="padding: 5px 10px;">Salary LWOP</th>
        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">Other Compensations</th>
        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">Gross Amount earned</th>

        <th class="border" style="padding: 5px 10px;">Witholding Tax</th>
        <th class="border" style="padding: 5px 10px;">GSIS PS</th>
        <th class="border" style="padding: 5px 10px;">HDMF PS</th>
        <th class="border" style="padding: 5px 10px;">HDMF MP2</th>
        <th class="border" style="padding: 5px 10px;">PHI PS</th>
        <th class="border" style="padding: 5px 10px;">GSIS CONSOL</th>
        <th class="border" style="padding: 5px 10px;">GSIS GFAL</th>
        <th class="border" style="padding: 5px 10px;">PLREG</th>
        <th class="border" style="padding: 5px 10px;">GSIS Help</th>
        <th class="border" style="padding: 5px 10px;">GSIS Policy</th>
        <th class="border" style="padding: 5px 10px;">GSIS Emergency Loan</th>
        <th class="border" style="padding: 5px 10px;">GSIS MPL</th>
        <th class="border" style="padding: 5px 10px;">HDMF MPL</th>
        <th class="border" style="padding: 5px 10px;">CFI</th>
        <th class="border" style="padding: 5px 10px;">DISALLOWANCES</th>
        <th class="border" style="padding: 5px 10px;">EVSU-MPC</th>

        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">Total deductions</th>
        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">Net Amount Due</th>
        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">1st Quincena</th>
        <th class="border-bottom border-start border-end" style="padding: 5px 10px;">2nd Quincena</th>
      </tr>
    </thead>
    <tbody>
      <% payroll.regular_entries.send(entries_to_view_for(current_user, payroll)).each do |entry| %>
        <tr data-controller="regular-entries">
        <td class="border" style="padding: 5px 10px;">
          <div class="d-flex align-items-center">
            <%= render_checkbox_if_needed(entry, current_user) %>
            <span><%=entry.user.full_name%></span>
          </div>
        </td>
        <td class="border" style="padding: 5px 10px;"><%=entry.user.position%></td>
        <td class="border" style="padding: 5px 10px;"><%=entry.user.salary_grade%></td>
        <td class="border" style="padding: 5px 10px;"><%=entry.basic_pay.format%></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :salary_lwop, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :other_comp, current_user) %></td>
        <td class="border" style="padding: 5px 10px;" data-regular-entries-target="gross"><%=entry.gross.format%></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :witholding_tax, current_user) %></td>
        <td class="border" style="padding: 5px 10px;" data-regular-entries-target="gsis_ps"><%=entry.gsis_ps.format%></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :hdmf_ps, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :hdmf_mp2, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :phi_ps, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :gsis_consol, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :gsis_gfal, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :plreg, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :gsis_help, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :gsis_policy, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :gsis_emergency_loan, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :gsis_mpl, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :hdmf_mpl, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :cfi, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :disallowances, current_user) %></td>
        <td class="border" style="padding: 5px 10px;"><%= render_editable_entry_or_value(entry, :evsu_mpc, current_user) %></td>
        <td class="border" style="padding: 5px 10px;" data-regular-entries-target="total_deductions"><%=entry.total_deductions%></td>
        <td class="border" style="padding: 5px 10px;" data-regular-entries-target="net"><%=entry.net.format%></td>
        <td class="border" style="padding: 5px 10px;" data-regular-entries-target="first_quincena"><%=entry.first_quincena.format%></td>
        <td class="border" style="padding: 5px 10px;" data-regular-entries-target="second_quincena"><%=entry.second_quincena.format%></td>
        </tr>
      <% end %>
      <%= render partial: "payrolls/designates_template", locals: { payroll: payroll } if payroll.completed? %>
    </tbody>
  </table>
</div>
