<%= form_with model: user, data: { controller: "users--create" } do |form| %>
  
  <div class="mb-4">
    <%= form.label :first_name, class: "required fs-6 fw-bold" %>
    <%= form.text_field :first_name, class: 'form-control form-control-sm' %>
  </div>

  <div class="mb-4">
    <%= form.label :last_name, class: "required fs-6 fw-bold" %>
    <%= form.text_field :last_name, class: 'form-control form-control-sm' %>
  </div>

  <div class="mb-4">
    <%= form.label :position, class: "required fs-6 fw-bold" %>
    <%= form.text_field :position, class: 'form-control form-control-sm' %>
  </div>

  <div class="mb-4">
    <%= form.label :role, class: "required fs-6 fw-bold" %>
    <%= form.select :role, enum_to_options(User.roles), {}, class: 'form-control form-control-sm' %>
  </div>

  <div class="mb-4">
    <%= form.label :employment_type, class: "required fs-6 fw-bold" %>
    <%= form.select :employment_type, enum_to_options(User.employment_types), {}, class: 'form-control form-control-sm', data: { action: "input->users--create#displayCorrespondingSalaryForm", users__create_target: "employeeTypeSelection" } %>
  </div>

  <div class="mb-4 d-none" data-users--create-target="regularsSalaryForm" >
    <%= form.label :salary_grade, class: "require  fs-6 fw-bold" %>
    <%= form.number_field :salary_grade, class: "form-control form-control-sm mb-4", step: 1 %>
  
    <%= form.label :basic_pay, class: "require  fs-6 fw-bold" %>
    <%= form.number_field :basic_pay, class: "form-control form-control-sm", step: 0.01 %>
  </div>

  <div class="mb-4 d-none" data-users--create-target="cosSalaryForm">
    <%= form.label :daily_rate, class: "require fs-6 fw-bold" %>
    <%= form.number_field :daily_rate, class: "form-control form-control-sm", step: 0.01 %>
  </div>

  <div class="mb-4 d-none" data-users--create-target="partTimeSalaryForm">
    <%= form.label :hourly_rate, class: "require fs-6 fw-bold" %>
    <%= form.number_field :hourly_rate, class: "form-control form-control-sm", step: 0.01%>
  </div>
  
  <div class="mb-4">
    <%= form.label :department, class: "required fs-6 fw-bold" %>
    <%= form.select :department, enum_to_options(User.departments), {}, class: 'form-control form-control-sm' %>
  </div>

  <div class="mb-4">
    <%= form.label :email, class: "required fs-6 fw-bold" %>
    <%= form.email_field :email, class: 'form-control form-control-sm' %>
  </div>

  <div class="mb-4">
    <%= form.label :bank_acct_no, class: "required fs-6 fw-bold" %>
    <%= form.text_field :bank_acct_no, class: 'form-control form-control-sm' %>
  </div>


  <div class="mb-4">
    <%= form.label :password, class: "required fs-6 fw-bold" %>
    <%= form.password_field :password, class: 'form-control form-control-sm' %>
  </div>

  <%= render partial: "shared/errors", locals: { model: user } %>

  <%= form.submit nil, class: "btn btn-primary"%>
<% end %>