<h3>User Information</h3>
<hr>
<div class="row gx-0 mb-2">
  <div class="col-12 col-lg-6">
    <strong>Given Name: </strong><span><%= @user.first_name %></span>
  </div>
  <div class="col-12 col-lg-6">
    <strong>Last Name: </strong><span><%= @user.last_name %></span>
  </div>
</div>
<div class="row gx-0 mb-2">
  <div class="col-12 col-lg-6">
    <strong>Role: </strong><span><%= @user.role.humanize %></span>
  </div>
  <div class="col-12 col-lg-6">
    <strong>Department: </strong><span><%= @user.department.humanize %></span>
  </div>
</div>
<div class="row gx-0 mb-2">
  <div class="col-12 col-lg-6">
    <strong>Employment: </strong><span><%= @user.employment_type.humanize %></span>
  </div>
  <div class="col-12 col-lg-6">
    <strong>Email: </strong><span><%= @user.email %></span>
  </div>
</div>
<br><br>
<h3>Salary Information</h3>
<hr>
<% if @user.regular? %>
  <div class="row gx-0 mb-2">
    <div class="col-12 col-lg-6">
      <strong>Basic Pay: </strong><span><%= @user.basic_pay.format %></span>
    </div>
    <div class="col-12 col-lg-6">
      <strong>Salary Grade: </strong><span><%= @user.salary_grade %></span>
    </div>
  </div>
<% elsif @user.part_time? %>
  <div class="row gx-0 mb-2">
    <div class="col-12 col-lg-6">
      <strong>Hourly Rate: </strong><span><%= @user.hourly_rate.format %></span>
    </div>
  </div>
<% elsif @user.cos? %>
  <div class="row gx-0 mb-2">
    <div class="col-12 col-lg-6">
      <strong>Daily Rate: </strong><span><%= @user.daily_rate.format %></span>
    </div>
  </div>
<% end %>
<br><br>

<% @user.deductions.build %>
<%= form_with model: @user, id: :form_repeater, data: { controller: "repeater" } do |form| %>
  
  <div class="d-flex justify-content-between align-items-end">
    <h3 class="m-0">Deductions</h3>
    <%= form.submit "Update deductions", class: "btn btn-primary btn-sm" %>
  </div>
  <hr>

  <%= form.hidden_field :id %>
  <%= form.fields_for :deductions do |deduction_form| %>
    <div data-repeater-list="user[deductions_attributes]">
      <div data-repeater-item class="row g-0 align-items-end" >
        <%= deduction_form.hidden_field :id %>

        <div class="col-12 col-lg-4 px-2">
          <%= deduction_form.label :name, class: "required fs-6 fw-bold" %>
          <%= deduction_form.text_field :name, class: 'form-control form-control-sm' %>
        </div>

        <div class="col-12 col-lg-4 px-2">
          <%= deduction_form.label :amount, class: "required fs-6 fw-bold" %>
          <%= deduction_form.number_field :amount, class: 'form-control form-control-sm' %>
        </div>

        <div class="col-2 col-lg-1 px-2">
          <a href="javascript:;" data-repeater-delete class="btn btn-danger btn-sm text-light">
            Delete
          </a>
        </div>
      </div>
    </div>
  <% end %>

  <div id="records_to_destroy"></div>

  <div class="form-group my-2 px-2">
    <a href="javascript:;" data-repeater-create class="btn btn-info btn-sm">
      Add Deduction
    </a>
  </div>
<% end %>