<!DOCTYPE html>
<html>
  <head>
    <title>EvsuOcPayrolling</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
    
  <body class="bg-white">
    <%= render partial: "layouts/header" if user_signed_in? %>
    <%= render partial: "layouts/flash" %>
    <div class="<%= "p-4" if user_signed_in? %>">
      <%= yield %>
    </div>
  </body>
</html>
